/* Write your CSS here */
.bg-container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border: 1px solid #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.heading {
  font-size: 40px;
  font-family: 'Roboto';
  font-weight: 500;
}

.button {
  height: 50px;
  width: 100px;
  border: 1px solid #000000;
}

.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}
